.blog-card {
  @apply cursor-pointer flex flex-col bg-white justify-between p-2 shadow-md z-10 top-0 relative top-0 rounded overflow-hidden
}

.blog-card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
}

.blog-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.blog-card:hover:before {
  transform: scale(2.15);
}
