.header {
  min-height: 85px;
}

.header__logo {
  background-position: 0 24px;
  height: 58px;
  width: 305px;
}

.header ul {
  transition: max-height 0.2s ease-out;
  padding-top: 84px;
}

.menu__item a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.header .wrapper.active ul {
  max-height: 330px;
}

.header .wrapper.active .menu-icon .nav-icon {
  background: transparent;
}

.header .wrapper.active .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
}

.header .wrapper.active .menu-icon .nav-icon:after {
  transform: rotate(45deg);
}

.header .wrapper.active .menu-icon:not(.steps) .nav-icon:before, .header .wrapper.active .menu-icon:not(.steps) .nav-icon:after {
  top: 0;
}

.menu-icon {
  padding: 40px 4px;
}

.menu-icon .nav-icon {
  height: 2px;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-icon .nav-icon:before, .header .menu-icon .nav-icon:after {
  content: "";
  background-color: white;
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .nav-icon.black:before, .header .menu-icon .nav-icon.black:after {
  background-color: black;
}

.menu-icon .nav-icon:before {
  top: 5px;
}

.menu-icon .nav-icon:after {
  top: -5px;
}

.menu-icon .nav-icon.dark {
  background: black;
}

.menu-icon .nav-icon.dark:before, .header .menu-icon .nav-icon.dark:after {
  background-color: black;
}

@media (min-width: 700px) {
  .menu {
    max-height: none;
    padding-top: 14px;
  }
  
  .menu__item a {
    border-bottom: none;
  }
}
