.blog-post .wrapper pre {
  padding: 40px 16px 16px 16px !important;
  border-radius: 12px !important;
  overflow: auto !important;
  font-size: 14px !important;
  margin-bottom: 64px !important;
  overflow: hidden !important;
  background-image: url(/images/code-snippet-buttons.png) !important;
  background-repeat: no-repeat !important;
  background-size: 44px 10px !important;
  background-position: 16px 16px !important;
  max-width: 550px !important;
  margin: auto !important;
  box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5) !important;
}