.support {
  .help {
    min-height: 300px;

    &__img {
      display: none;
      max-width: 400px;
      right: -(getSpace(huge));
      top: getSpace(xlarge);
      z-index: 0;
    
      @include mq(desktop) {
        display: block;
      }
    }

    &__content {
      z-index: 1;
      max-width: 500px;
      margin-top: getSpace(xlarge);

      @include mq(desktop) {
        margin-top: getSpace(giant);
      }
    }
  }

  .discord {
    .wrapper {
      flex-direction: column-reverse;

      @include mq(desktop) {
        flex-direction: row-reverse;
      }
    }

    &__content {
      h2 {
        max-width: 500px;
      }

      @include mq(desktop) {
        max-width: 600px;
      }
    }

    &__img {
      max-width: 330px;
    }
  }

  .mentorship {
    & div:first-of-type {
      @include mq(desktop) {
        display: block;
      }
    }

    &__img {
      display: none;
      max-width: 400px;
      right: -(getSpace(huge));
      top: getSpace(xlarge);
      z-index: 0;
    
      @include mq(desktop) {
        display: block;
      }
    }

    &__content {
      display: flex;
      max-width: 700px;
      margin-top: getSpace(large);

      @include mq(desktop) {
        margin-top: getSpace(xlarge);
        display: block;
      }
    }
  }

  .newsletter {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: getSpace(xlarge);
  }
}