* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Nunito";
  font-weight: 300;
  line-height: 1.5;
}

html,
body, main {
  height: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input,
button {
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  overflow: hidden;
}

.blog *,
.services * {
  transition: all 0.2s ease-out;
}
