@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('/fonts/nunito-v14-latin-regular.woff2') format('woff2'),
       url('/fonts/nunito-v14-latin-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url('/fonts/nunito-v16-latin-700.woff2') format('woff2'),
       url('/fonts/nunito-v16-latin-700.woff') format('woff');
  font-display: swap;
}
