<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Front End Coach</title>
    <meta name="description" content="the front end coach is a dedicated support and learning system those who wish to start a career as a front end developer.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header class="header">
      <div class="wrapper">
        <a href="/" class="header__logo u-fs--xlarge u-fw--700">The Front End Coach</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="nav-icon u-bg--white"></span></label>
        <ul class="menu u-fs--small">
          <li class="menu__item">
            <a class="u-fw--700" href="/">About</a>
          </li>
          <li class="menu__item">   
            <a class="u-fw--700" href="/">Blog</a>
          </li>
          <li class="menu__item">
            <a class="u-fw--700" href="/">Support</a>
          </li>
          <li class="menu__item">
            <a class="u-fw--700" href="/">Podcast</a>
          </li>
        </ul>
      </div>
    </header>